<div class="span3">

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminProduits_index') }}">Produits</a>
            </li>
          
        </ul>
    </div>

    <div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{ path('adminUtilisateurs_index') }}">Clients</a>
            </li>
           <li>
                <a href="{{ path('adminCommande') }}">Commandes</a>
            </li>
         <li>
                <a href="{{ path('stockentree_index') }}">StockEntree</a>
            </li>
         <li>
                <a href="{{ path('stocksortie_index') }}">StockSortie</a>
            </li>    
            
            
        </ul>
    </div>

   
</div>