
    <div class="well">
        <ul class="nav nav-list">
           
         <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Informatique</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('stockage_index') }}">Stockage</a>
                                                
                                            
                                               
                                                <a href="{{ path('ordinateurportable_index') }}">Ordinateur portable</a>
                                                
                                                <a href="{{ path('ordinateurdebureau_index') }}">Sac Scolaires et trousses</a>
                                                
                                                 <a href="{{ path('composantinformatique_index') }}">Composant informatique</a>

                                                <a href="{{ path('tablette_index') }}">Tablette</a>
                                                
                                             
                                            
                                           
                                                 
                                                  
                                            </li>

                                           

                                        </ul>  <!-- end of /.dropdown-menu -->
               
         </li> <!-- end of /.dropdown -->   
                 <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Telephone</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('appareilfax_index') }}">Appareil Fax</a>
                                            </li>
                                            
                                            <li>
                                           <a href="{{ path('telephonefixe_index') }}">Telephone Fixe</a>
                                           
                                            </li>
                                            
                                            <li>
                                            
                                              <a href="{{ path('accessoirestelephone_index') }}">Accessoires telephone</a>
                                              
                                            </li>
                                           

                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->    
  
       
       <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Impression</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('imprimante_index') }}">Imprimante</a>
                                                
                                            </li>
                                            
                                               <li>
                                                <a href="{{ path('cartouchesimprimante_index') }}">Cartouches imprimante</a>
                                            </li>

                                            <li>
                                                <a href="{{ path('photocopieur_index') }}">Photocopieurs</a>
                                            </li>
                                            
                                               <li>
                                                <a href="{{ path('scanner_index') }}">Scanner</a>
                                            </li>

                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->    
                                    
                                     <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Resaux et securite</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('onduleur_index') }}">Onduleurs</a>
                                            </li>
                                            
                                                <li>
                                                <a href="{{ path('resaux_index') }}">Resaux</a>
                                            </li>
                                               
                                         
                                            <li>
                                                <a href="{{ path('logiciels_index') }}">logiciels</a>
                                            </li>
                                            
                                               <li>
                                                <a href="{{ path('videosurveillance_index') }}">Videos Surveillance</a>
                                            </li>

                                        </ul>  <!-- end of /.dropdown-menu -->
                                    </li> <!-- end of /.dropdown -->    
                                    
                               <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>Bureautique</span></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="{{ path('photocopieur_index') }}">Photocopieurs</a>
                                            </li>

                                            <li>
                                                <a href="{{ path('papier_index') }}">Papier</a>
                                            </li>
                                            
                                           
                                               <li>
                                                <a href="{{ path('classementetarchivage_index') }}">Classement et Archivage</a>
                                            </li>
                                            
                                                  <li>
                                                <a href=" {{ path('fournituredubureau_index') }}">Fourniture du bureaux</a>
                                            </li>
                                            
                                            <li>
                                                <a href=" {{ path('tableaux_index') }}">tableaux</a>
                                            </li>               
                                            

                                        </ul>  <!-- end of /.dropdown-menu -->
                                        
                                        <li>
                                                <a href="{{ path('destockage_index') }}">Destockage</a>
                                            </li> 
                                        
                                                     
              
                    
                    
                </ul>
           
         
        </ul>
    </div>