{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>composant informatique list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Tva</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
     {% for composantinformatique in composantinformatiques %}
            <tr>
                <td><a href="{{ path('composantinformatique_show', { 'id': composantinformatique.id }) }}">{{ composantinformatique.id }}</a></td>
                <td>{{ composantinformatique.titre }}</td>
                <td>{{ composantinformatique.description }}</td>
                <td>{{ composantinformatique.prix }}</td>
                 <td>{{ composantinformatique.tva }}</td>
                <td>{% if composantinformatique.disponible %}<font color="green">Disponible</font>{% else %}<font color="red">Epuise</font>{% endif %}</td>
                <td>  <img src="{{asset('uploads/'~composantinformatique.path)}}" alt="DevAndClick" width="300" height="300"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('composantinformatique_show', { 'id':composantinformatique.id }) }}" class="btn btn-info"><i class="icon-book"></i>Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('composantinformatique_edit', { 'id':composantinformatique.id }) }}" class="btn btn-danger"><i class="icon-edit"></i>edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('composantinformatique_new') }}" class="btn btn-success">Ajout d'un nouveaux composant informatique</a>
        </li>
    </ul>
{% endblock %}
