{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Cd</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cd.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ cd.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ cd.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ cd.prix }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if cd.disponible %}<font color="green">Disponible</font>{% else %}<font color="red">Epuise</font>{% endif %}</td>
            </tr>
            
               <tr>
                <th>Tva</th>
                <td>{{ cd.tva }}</td>
            </tr>
            
        </tbody>
    </table>
            
    <ul>
        <li>
            <a href="{{ path('cd_modifier') }}" class="btn btn-info">Retour a la page Modifier</a>
        </li>
        <li>
            <a href="{{ path('cd_edit', { 'id': cd.id }) }}"class="btn btn-success">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit"  class="btn btn-danger" value="Supprimer" />
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}        
            
