{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>photocopieur list</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Tva</th>
                <th>Disponible</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for photocopieur in photocopieurs %}
            <tr>
                <td><a href="{{ path('photocopieur_show', { 'id': photocopieur.id }) }}">{{ photocopieur.id }}</a></td>
                <td>{{ photocopieur.titre }}</td>
                <td>{{ photocopieur.description }}</td>
                <td>{{ photocopieur.prix }}</td>
                 <td>{{ photocopieur.tva }}</td>
                <td>{% if photocopieur.disponible %}<font color="green">Disponible</font>{% else %}<font color="red">Epuise</font>{% endif %}</td>
                <td>  <img src="{{asset('uploads/'~photocopieur.path)}}" alt="DevAndClick" width="300" height="300"></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('photocopieur_show', { 'id': photocopieur.id }) }}" class="btn btn-info"><i class="icon-book"></i>Afficher</a>
                        </li>
                        <li>
                            <a href="{{ path('photocopieur_edit', { 'id': photocopieur.id }) }}" class="btn btn-danger"><i class="icon-edit"></i>edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('photocopieur_new') }}" class="btn btn-success">Ajout d'un nouveaux photocopieur</a>
        </li>
    </ul>
{% endblock %}


