{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="span3">
                {% include '::modulesUsed/navigationFournituredubureau.html.twig' %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateursConnecte.html.twig' %}
                {% else %}
                    {% include 'UtilisateursBundle:Default:modulesUsed/utilisateurs.html.twig' %}
                {% endif %}
                {{ render(controller('GestionProjetBundle:Panier:menu')) }}
            </div>
   
  <div class="span9">
                
                    <ul class="thumbnails">
                   {% for fournituredubureau in fournituredubureaus %}
                            <li class="span3">
                                <div class="thumbnail">
                                    <img src="{{asset('uploads/'~fournituredubureau.path)}}" alt="DevAndClick" width="300" height="150">

                                    <div class="caption">
                                        <h4>{{fournituredubureau.titre}}</h4>

                                        <p>{{fournituredubureau.description}}</p>
                                        <p>Prix : {{fournituredubureau.prix}}DT</p>
                                        <p>{% if fournituredubureau.disponible %}<font color="green">Disponible</font>{% else %}<font color="red">Epuise</font>{% endif %}</p>
                 <a class="btn btn-primary" href="{{ path('produit_recherche') }}">Plus d'infos</a>                     

                                    </div>
                                </div>
                            </li>
                        {%endfor%}
                    </ul>
  <div class="navigation">
    {{ knp_pagination_render(fournituredubureaus) }}
</div> 
                    
                    
                </div>   


          

        </div>
             
                    
    </div>

</div>


{% endblock %}
        
            
               
            


