{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Fourniture du bureau</h1>

   <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ fournituredubureau.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ fournituredubureau.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ fournituredubureau.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ fournituredubureau.prix }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if fournituredubureau.disponible %}<font color="green">Disponible</font>{% else %}<font color="red">Epuise</font>{% endif %}</td>
            </tr>
             <tr>
                <th>Tva</th>
                <td>{{ fournituredubureau.tva }}</td>
            </tr>
            
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournituredubureau_modifier') }}" class="btn btn-info">Retour a la page Modifier</a>
        </li>
        <li>
            <a href="{{ path('fournituredubureau_edit', { 'id': fournituredubureau.id }) }}" class="btn btn-success">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit"  class="btn btn-danger" value="Supprimer" />
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
