{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Informatiques list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Disponible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for informatique in informatiques %}
            <tr>
                <td><a href="{{ path('informatique_show', { 'id': informatique.id }) }}">{{ informatique.id }}</a></td>
                <td>{{ informatique.titre }}</td>
                <td>{{ informatique.description }}</td>
                <td>{{ informatique.prix }}</td>
                <td>{% if informatique.disponible %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('informatique_show', { 'id': informatique.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('informatique_edit', { 'id': informatique.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admininformatique_new') }}">Create a new informatique</a>
        </li>
    </ul>
{% endblock %}
