{% extends '::layout/layoutAdmin.html.twig' %}


{% block body %}
    <h1>Stocksortie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stocksortie.id }}</td>
            </tr>
            <tr>
                <th>Nomdeuproduit</th>
                <td>{{ stocksortie.nomdeuproduit }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ stocksortie.quantite }}</td>
            </tr>
            <tr>
                <th>Nomclient</th>
                <td>{{ stocksortie.nomclient }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if stocksortie.date %}{{ stocksortie.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('stocksortie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('stocksortie_edit', { 'id': stocksortie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
