{% extends '::layout/layoutAdmin.html.twig' %}

{% block body %}
    <h1>Bureautique</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bureautique.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bureautique.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bureautique.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bureautique.prix }}</td>
            </tr>
            <tr>
                <th>Disponible</th>
                <td>{% if bureautique.disponible %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bureautique_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bureautique_edit', { 'id': bureautique.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
